* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #555;
  overflow: hidden;
}
/* Style the navigation bar */

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 10px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active 
{
  background-color: #04AA6D;
}
.active1 
{
  background-color: black;
}
.active2
{
  background-color: black;
}
.active3
{
  background-color: black;
}
.active4
{
  background-color: black;
}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover 
{
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active 
{
  background-color: #04AA6D;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a 
{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right 
{
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) 
{
  .topnav a, .topnav-right 
  {
    float: none;
    display: block;
  }

  .topnav-centered a 
  {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Style the content */
article 
{
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 30px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) 
{
  section 
  {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
/* style for image */
#indexpic {
  float: right;
  margin: 1px;
  height: 550px;
  width: 600px;
}
/* style for image */
#pic1 {
  float: right;
  margin: 1px;
  height: 250px;
  width: 400px;
}
#pic2 {
  float: left;
  margin: 1px;
  height: 300px;
  width: 400px;
}
#pic3 {
  float: right;
  margin: 1px;
  height: 250px;
  width: 400px;
}
/* About Me */
.flex-item-contact 
{
  background: #fcfcfc7c;
  padding: 5px;
  width: 500px;
  height: auto;
  color: #050000;
  text-align: center;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="tele"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #000;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type="submit"]:hover 
{
  background-color: #717171;
}
input[type="reset"] 
{
  background-color: #000;
  color: #ffffff;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type="reset"]:hover 
{
  background-color: #717171;
}
a.button-email {
  background-color: #000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
a.button-email:hover 
{
  background-color: #717171;
}
.flex-container 
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* Styling Grid */ 
.grid-container 
{
  display: grid;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 300px 300px 300px;
  row-gap: 20px;
  column-gap: 20px;
}
.grid-item 
{
  color: black;
  border: 0px solid purple;
  width: 300px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}
/* Contact Page */

#letsTalk {
  float: centre;
  margin: 1px;
  height: 450px;
  width: 370px;
}

p.large {
  font-size: 400%;
}
/* Style the footer */
footer {
  background-color: #777;
  padding: 8px;
  text-align: center;
  color: white;
}
/*footer a 
{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  text-decoration: none;
}*/
.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-github {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* Scroll to the top navigation */
#myBtn {
  display: none; /* Hidden by default */
  position: float; /* float position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #04AA6D; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}






